.home {
    margin: 0px;

    .home-row {
        display: block;

        .home-cell {
            max-width: 600px;
            margin: 0px auto;
        }
    }

    .home-1 {
        background: $purple-2;
        

        .site-description {
            padding: $gap-4;
            text-align: center;

            h1 {
                line-height: 1.5;
                margin-top: $gap-3;
                margin-bottom: $gap-3;
            }

            p {
                display: flex;
                align-items: center;
                line-height: 2;
                min-height: 150px;
            }
        }

        .site-search {
            padding: $gap-4;

            .small-links {
                font-size: $font-size-2;
                padding-left: $gap-2;
                margin-bottom: $gap-1;
            }

            form {
                display: grid;
                grid-template-columns: 1fr 70px;
                margin-bottom: $gap-7;

                input {
                    display: inline;
                }

                input[type=text] {
                   border-right-width: 0px;
                   border-top-right-radius: 0px;
                   border-bottom-right-radius: 0px;
                }

                input[type=submit] {
                    border-top-left-radius: 0px;
                    border-bottom-left-radius: 0px;
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;
                    background-color: $green;
                    color: white;
                    margin: 0;
                }
            }
        }
    }

    .home-2 {
        background-color: white;
        
        .home-picture {
            padding: $gap-4;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;

            img {
                width: 100%;
                margin: 0px auto;
                height: auto;
                max-width: 600px;
            }
        }

        .site-info {
            text-align: center;
            padding: $gap-4;
            padding-bottom: $gap-7;
    
            h2 {
                margin-bottom: $gap-3;
            }

            p {
                line-height: 2;
            }
        }
    }

    
}

@media (min-width: 900px) {
    .home {
        .home-row {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: $gap-6;

            .home-cell {
                width: 100%;
                max-width: none;
            }
    
            .home-cell:nth-child(1) {
                h1, p, img {
                    margin-left: auto;
                    margin-right: 0;
                    max-width: 500px;
                }
            }

            .home-cell:nth-child(2) {
                .small-links, form, p {
                    margin-right: auto;
                    max-width: 500px;
                    margin-bottom: 0;
                }
            }
        }

        .home-1 {
            padding-top: $gap-6;
            padding-bottom: $gap-6;
            
            .site-search {
                display: flex;
                flex-direction: column;
                justify-content: center;

                .small-links, form {
                    width: 90%;
                }
            }
        }

        .home-2 {
            .site-info {
                display: flex;
                padding-bottom: inherit;
                flex-direction: column;
                justify-content: center;

                h2 {
                    max-width: 600px;
                }
            }
        }
    }
}