html {
    color: $gray-8;
    font-size: $font-size-3;
    background-color: $gray-2;
}

main {
    margin: $gap-3;
}

h1 {
    font-size: $font-size-8;
    font-weight: bold;
}

h2 {
    font-size: $font-size-7;
}

a {
    color: hsl(208, 100%, 43%);
}

input {
    display: block;
    background-color: white;
    padding: $gap-2;
    font-size: $font-size-4;
    border: 1px solid $purple-3;
    border-radius: $border-radius-2;
    width: 100%;
    box-shadow: $internal-shadow;
}

@media (min-width: 600px) {
    html {
        font-size: $font-size-4;
    }

    h1 {
        font-size: $font-size-9;
    }

    h2 {
        font-size: $font-size-8;
    }
}