.api-page {

    .box {
        width: 100%;
        max-width: 1000px;
        margin: $gap-3 auto;

        p {
            line-height: 1.8;
            margin-bottom: $gap-2;
        }

        p.endpoint {
            margin: $gap-3 0 $gap-4 0;
        }

        iframe {
            width: 100%;
            height: 500px;
            max-width: 800px;
        }
    }
}